include README.md
include LICENSE
recursive-exclude amrita/plugins/webui/service/static/css *
recursive-include amrita/plugins/webui/service/static/css dist.css
recursive-include amrita/plugins/webui/service/static/js *
recursive-include amrita/plugins/webui/service/static/images *
recursive-exclude data *
recursive-exclude example *
global-include *.html
global-include *.js
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *~